{# the navbar #}
{# set up the names of the routes and links #}
{% set navbar = [['home', 'Home'], ['vinyl', 'Vinyl']] %}

<div class="navbar-fixed">
    <nav class="nav-extended white">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo black-text">Vinyl Store</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse black-text"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down menu__list">
                {% for item in navbar %}
                    <li{% if item[0]==active_page %} class="active" {% endif %}>
                        <a href="{{ global.request.basepath }}/{{ (item[0]) }}" class="black-text">{{ item[1] }} </a>
                    </li>
                {% endfor %}
                <li><a class="waves-effect waves-light btn blue darken-3" href="/login">Log-in</a></li>
            </ul>
        </div>
    </nav>
</div>
{# off-canvas nav on mobiles #}
<ul class="side-nav center-align" id="mobile-demo" style="background-image: url({{ global.request.basepath }}/images/mobile-nav.jpg); background-size: cover;">
    <div><a href="" class="btn"><i class="material-icons close-menu">close</i></a></div>

    {% for item in navbar %}
        <li{% if item[0]==active_page %} class="active" {% endif %}>
            <a href="{{ global.request.basepath }}/{{ (item[0]) }}" class="black-text btn">{{ item[1] }}</a>
        </li>
    {% endfor %}
    <li>
        <a class="waves-effect waves-light btn blue darken-3" href="/login">Log-in</a>
    </li>
</ul>
