{# the navbar #}
{# set up the names of the routes and links #}
{% set navbar = [['home', 'Home'], ['vinyl', 'Vinyl'], ['faq', 'FAQ']] %}

<div class="navbar-fixed">
    <nav class="nav-extended shrink white">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo black-text left">The Record Box</a>
            <a href="#" data-activates="mobile-nav" class="button-collapse black-text right"><i class="material-icons">menu</i></a>



            <ul class="right hide-on-med-and-down menu__list">

                {% for item in navbar %}
                    <li{% if item[0]==active_page %} class="active" {% endif %} data-hover="{{ item[1] }}">
                        <a href="/{{ (item[0]) }}" class="black-text">{{ item[1]|upper }} </a>
                    </li>
                {% endfor %}

                <li><a href="#" class="snipcart-user-profile black-text"><span class="snipcart-user-email">LOGIN</span></a></li>
                <li><a href="#" class="snipcart-user-logout black-text">Logout</a></li>
                <li><a href="#" class="right snipcart-checkout"><i class="material-icons black-text">shopping_cart</i></a></li>


            </ul>
            <a href="#" class="right hide-on-med-and-up snipcart-checkout"><i class="material-icons black-text">shopping_cart</i></a>
        </div>
    </nav>
</div>
{# off-canvas nav on mobiles #}
<ul class="side-nav" id="mobile-nav">
    <li class="flow-text sideNav_title center-align">The Record Box</li>
    <li><div class="divider"></div></li>
    {% for item in navbar %}
        <li{% if item[0]==active_page %} class="active" {% endif %}>
            <a href="/{{ (item[0]) }}" class="black-text">{{ item[1]|upper }}</a>
        </li>

    {% endfor %}
    <li><div class="divider"></div></li>
    <li><a href="#" class="snipcart-user-profile black-text"><span class="snipcart-user-email email">LOGIN</span></a></li>
    <li><a href="#" class="snipcart-user-logout black-text">Logout</a></li>
</ul>


