<form action="/refine" method="post" id="refineForm">
    <h1 class="flow-text sideNav_title center-align">The Record Box</h1>
    <li>
        <div class="divider"></div>
    </li>
    {{ form_errors(form) }}
    {{ form_label(form.genre, 'genre') }}
    {{ form_widget(form.genre) }}

    {{ form_errors(form.genre) }}
    {{ form_label(form.format, 'format') }}
    {{ form_widget(form.format) }}

    {{ form_errors(form.format) }}
    <button class="btn waves-effect waves-light" type="submit" name="action">Refine</button>
    {{ form_rest(form) }}
</form>