
    <div class="card sticky-action">
        <div class="card-image">
            <img class="activator" src="{{ global.request.basePath }}/uploads/{{ release.image }}" alt="{{ release.title }} cover">
        </div>
        <div class="card-content">
            <p class="truncate">{{ release.artist|title }}</p>
            <p class="truncate">{{ release.title }}</p>
            <p>&euro;{{ release.price }}</p>
        </div>
        <div class="card-action">
            <a class="waves-effect waves-light"
               href="/vinyl/{{ release.genre }}/{{ release.artist|slugify }}/{{ release.title|slugify }}/{{ release.id }}">Details</a>
        </div>


        <div class="card-reveal">
                                 <span class="card-title white-text">
                                    <i class="material-icons right">close</i>
                                </span>
            <div class="card-content white-text">
                <p>{{ release.format }}</p>
                <p>Media : {{ release.media_condition }}</p>
                <p>Sleeve : {{ release.sleeve_condition }}</p>
            </div>
        </div>
    </div>
