
    <div class="card">
        <div class="card-image">
            <img class="activator" src="{{ global.request.basePath }}/uploads/{{ release.image }}" alt="{{ release.title }} cover">
        </div>
        <div class="card-reveal">
                                 <span class="card-title white-text">
                                    <i class="material-icons right">close</i>
                                </span>
            <div class="card-content white-text">
                <p>{{ release.artist }}</p>
                <p>{{ release.title }}</p>
                <p>{{ release.format }}</p>
                <p class="hide-on-med-and-down">Media :{{ release.media_condition }}</p>
                <p class="hide-on-med-and-down">Sleeve :{{ release.sleeve_condition }}</p>
                <p>&euro;{{ release.price }}</p>
                <br>
                <div class="divider"></div>
                <a class="waves-effect waves-light"
                   href="/vinyl/{{ release.genre }}/{{ release.artist|slugify }}/{{ release.title|slugify }}/{{ release.id }}">Details</a>
            </div>
        </div>
    </div>
