{% extends 'backend/base.html.twig' %}

{% block content %}
    <div class="row">

        {% for release in releases %}
            <div class="col s12 m2">
                <div class="backend card">
                    <div class="card-content">
                        <p>{{ release.artist }}
                            {% for image in images %}
                                {% if release.id == image.release_id %}
                                    <span class="new badge blue" data-badge-caption="Got image"></span>

                                {% endif %}
                            {% endfor %}
                        </p>
                        <p>{{ release.title }}
                            {% for price in pricing %}
                                {% if release.id == price.release_id %}
                                    <span class="new badge blue" data-badge-caption="Got pricing"></span>
                                {% endif %}
                            {% endfor %}
                        </p>
                        <p>{{ release.format }}</p>
                        {#<p>{{ release.label }}</p>#}
                        {#<p>{{ release.released }}</p>#}
                        {#<p>{{ release.media_condition }}</p>#}
                        {#<p>{{ release.sleeve_condition }}</p>#}
                        {#<p>{{ release.notes }}</p>#}
                        {#<p>{{ release.genre }}</p>#}
                        <hr>

                        <a class="waves-effect waves-light links" href="#">Edit</a>
                        <a class="waves-effect waves-light links" href="">Delete</a>


                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
