{% extends 'backend/base.html.twig' %}
{% set active_page = 'dashboard' %}
{% block content %}
    <div class="row">
        <div class="col s12 m12">
            <h5>Latest Releases</h5>
            <div class="divider"></div>
            {% for release in releases %}
                <div class="col s12 m3 l3">
                    <div class="backend card">
                        <div class="card-content">
                            <p>{{ release.artist }}
                                {% for image in images %}
                                    {% if release.id == image.release_id %}
                                        <span class="new badge blue" data-badge-caption="Got image"></span>

                                    {% endif %}
                                {% endfor %}
                            </p>
                            <p>{{ release.title }}
                                {% for price in pricing %}
                                    {% if release.id == price.release_id %}
                                        <span class="new badge blue right-align" data-badge-caption="Got pricing"></span>
                                    {% endif %}
                                {% endfor %}
                            </p>
                            <p>{{ release.format }}</p>
                            <p>{{ release.date_added }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12">

            <a href="/admin/view-releases" class="btn">Releases</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12">
            <h5>Latest Images</h5>
            <div class="divider"></div>
            {% for image in images|slice(0,6) %}
                <div class="col s6 m4 l2">
                    <div class="backend card">
                        <div class="card-content">
                            <div class="card-image">
                                <img src="/uploads/{{ image.image|raw }}" alt="{{ release.title|replace({' ':'_'}) }}_pic">
                            </div>
                            <p>id: {{ image.image_id }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12">

            <a href="/admin/view-images" class="btn">Images</a>

        </div>
    </div>
    <div class="row">
        <div class="col s12 m12">
            <h5>Latest Prices</h5>
            <div class="divider"></div>
            {% for price in pricing|slice(0,6) %}
                <div class="col s12 m4 l4">
                    <div class="backend card">
                        <div class="card-content">
                            <p>release id : {{ price.release_id}}</p>
                            <p>price : {{ price.price }}</p>
                            <p>desc. : {{ price.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12">

            <a href="/admin/view-pricing" class="btn">Pricing</a>

        </div>
    </div>
    <div class="row">
        <div class="col s12 m12">
            <h5>Latest Shipping Rates</h5>
            <div class="divider"></div>
            {% for rate in shippingRates|slice(0,6) %}
                <div class="col s12 m4 l4">
                    <div class="backend card">
                        <div class="card-content">
                            <p>id : {{ rate.id }}</p>
                            <p>quantity : {{ rate.quantity }}</p>
                            <p>cost : {{ rate.cost }}</p>
                            <p>desc. : {{ rate.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12">

            <a href="/admin/view-shippingRates" class="btn">Shipping</a>

        </div>
    </div>
    <div class="row">
        <div class="col s12 m12">
            <h5>Latest Items added to cart</h5>
            <div class="divider"></div>
            {% for event in events|slice(0,6) %}
                <div class="col s12 m4 l4">
                    <div class="backend card">
                        <div class="card-content">
                            <p>id : {{ event.id }}</p>
                            <p>quantity : {{ event.name }}</p>
                            <p>description : {{ event.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
