{% extends 'backend/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col s12 m12">
            <h5>Latest Releases</h5>
            <div class="divider"></div>
            {% for release in releases %}
                <div class="col s12 m3 l3">
                    <div class="backend card">
                        <div class="card-content">
                            <p>{{ release.artist }}
                                {% for image in images %}
                                    {% if release.id == image.release_id %}
                                        <span class="new badge blue" data-badge-caption="Got image"></span>

                                    {% endif %}
                                {% endfor %}
                            </p>
                            <p>{{ release.title }}
                                {% for price in pricing %}
                                    {% if release.id == price.release_id %}
                                        <span class="new badge blue right-align" data-badge-caption="Got pricing"></span>
                                    {% endif %}
                                {% endfor %}
                            </p>
                            <p>{{ release.format }}</p>
                            {#<p>{{ release.label }}</p>#}
                            <p>{{ release.date_added }}</p>
                            {#<p>{{ release.media_condition }}</p>#}
                            {#<p>{{ release.sleeve_condition }}</p>#}
                            {#<p>{{ release.notes }}</p>#}
                            {#<p>{{ release.genre }}</p>#}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12">

            <a href="/admin/view-releases" class="btn">Releases</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12">
            <h5>Latest Images</h5>
            <div class="divider"></div>
            {% for image in images|slice(0,6) %}
                <div class="col s12 m4 l2">
                    <div class="backend card">
                        <div class="card-content">
                            <div class="card-image">
                                <img src="/uploads/{{ image.image|raw }}" alt="{{ release.title|replace({' ':'_'}) }}_pic">
                            </div>
                            <p>id: {{ image.image_id }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12">

            <a href="/admin/view-images" class="btn">Images</a>

        </div>
    </div>
{% endblock %}
