{% extends 'backend/base.html.twig' %}
{% set active_page = 'search' %}
{% block content %}
    <div class="col s12 m12 l12">
        <h4 class="header">Release Info</h4>
        <div class="card horizontal">
            <div class="card-image">
                <img src="{{ result.artists[0].thumbnail_url }}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <span class="card-title">{{ result.title }}</span>
                    <p>Artist : {{ result.artists[0].name }}</p>
                    <p>Released : {{ result.released }}</p>
                    <p>Genre : {{ result.genres[0] }}</p>
                    <p>Label : {{ result.labels[0].name }}</p>
                    <p>Catalogue Number : {{ result.labels[0].catno }}</p>
                    <p>Barcode : {{ result.identifiers[0]['value'] }}</p>
                </div>
                <div class="card-action">
                    <a href="/admin/create-release" id="createReleaseFromDiscogs"
                       data-artist="{{ result.artists[0].name }}"
                       data-title="{{ result.title }}"
                       data-released="{{ result.released }}"
                       data-genre="{{ result.genres[0] }}"
                       data-label="{{ result.labels[0].name }}"
                       data-catalogue-number="{{ result.labels[0].catno|replace({' ': ''}) }}"
                       data-barcode="{{ result.identifiers[0]['value'] }}">Create A release</a>
                </div>
            </div>
        </div>
    </div>
    {{ render(controller('VinylStore\\Controllers\\ReleaseController::createEmbeddedReleaseAction')) }}
{% endblock %}