{% extends 'backend/base.html.twig' %}

{% block content %}
    <form class="col s12"action=" " method="post">
    {#{{ form_start(form) }}#}
    {{ form_errors(form) }}
    <div class="row">

        <div class="input-field col s6">
            {{ form_label(form.catalog, 'catalog no.::') }}
            {{ form_widget(form.catalog) }}
            {{ form_errors(form.catalog) }}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            {{ form_label(form.artist, 'artist::') }}
            {{ form_widget(form.artist) }}
            {{ form_errors(form.artist) }}
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            {{ form_label(form.label, 'label::') }}
            {{ form_errors(form.label) }}
            {{ form_widget(form.label) }}
        </div>
    </div>
    <div class="row">

        <div class="input-field col s6">
            {{ form_label(form.format, 'Format::') }}
            {{ form_errors(form.format) }}
            {{ form_widget(form.format) }}
        </div>
    </div>
    <div class="row">

        <div class="input-field col s6">
            {{ form_label(form.released, 'Released::') }}
            {{ form_errors(form.released) }}
            {{ form_widget(form.released) }}
        </div>
    </div>
    <div class="row">

        <div class="input-field col s6">
            {{ form_label(form.date_added, 'date added::') }}
            {{ form_errors(form.date_added) }}
            {{ form_widget(form.date_added) }}
        </div>
    </div>
    <div class="row">

        <div class="input-field col s6">
            {{ form_label(form.media_condition, 'media condition::') }}
            {{ form_errors(form.media_condition) }}
            {{ form_widget(form.media_condition) }}
        </div>
    </div>
    <div class="row">

        <div class="input-field col s6">
            {{ form_label(form.sleeve_condition, 'sleeve condition:') }}
            {{ form_errors(form.sleeve_condition) }}
            {{ form_widget(form.sleeve_condition) }}
        </div>
    </div>
    <div class="row">

        <div class="input-field col s6">
            {{ form_label(form.notes, 'notes::') }}
            {{ form_errors(form.notes) }}
            {{ form_widget(form.notes) }}
        </div>
    </div>
    <div class="row">

        <div class="input-field col s6">
            {{ form_label(form.genre, 'genre') }}
            {{ form_errors(form.genre) }}
            {{ form_widget(form.genre) }}
        </div>
    </div>
    <div class="row">

        <div class="input-field col s6">
            {{ form_label(form.image, 'image:') }}
            {{ form_errors(form.image) }}
            {{ form_widget(form.image) }}
        </div>
    </div>





    <div class="form-control">
        <input class="uk-button uk-button-primary" type="submit" name="submit"/>
    </div>

    {#{{ form_end(form) }}#}
    {{ form_rest(form) }}
{% endblock %}