{% extends 'backend/base.html.twig' %}
{% set active_page = 'view-releases' %}
{% block content %}
    <div class="row">

        {% for release in releases %}
            <div class="col s12 m3 l3">
                <div class="backend card">
                    <div class="card-content">
                        <p><i class="light-text">id : </i>{{ release.id }}</p>
                        <p>
                            <i class="light-text">artist : </i>{{ release.artist }}
                        </p>
                        <p>
                            <i class="light-text">title : </i>{{ release.title }}
                        </p>
                        <p><i class="light-text">catalogue no. : </i>{{ release.catno }}</p>
                        <p><i class="light-text">format : </i>{{ release.format }}</p>
                        <p><i class="light-text">label : </i>{{ release.label }}</p>
                        <p><i class="light-text">released on : </i>{{ release.released_on }}</p>
                        <p><i class="light-text">date added : </i>{{ release.date_added }}</p>
                        <p><i class="light-text">media : </i>{{ release.media_condition }}</p>
                        <p><i class="light-text">sleeve : </i>{{ release.sleeve_condition }}</p>
                        {#<p>{{ release.notes }}</p>#}
                        <p><i class="light-text">genre : </i>{{ release.genre }}</p>
                        <p><i class="light-text">quantity : </i>{{ release.quantity }}</p>
                        <hr>

                        <a class="waves-effect waves-light links" href="/admin/edit-release/{{ release.id }}">Edit</a>
                        <a class="waves-effect waves-light links right" href="">Delete</a>


                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
