{% extends 'backend/base.html.twig' %}
{% block content %}
    {% if count is defined %}
<h4>Deleted</h4>
{% endif %}
    <div class="row">
        {% for image in images %}

            <div class="col m3 s6">
                <div class="card">
                    <div class="card-image">
                        <img src="/uploads/{{ image.image|raw }}" alt="cover_picture_">
                        <span class="card-title">image name: {{ image.name }}</span>
                    </div>
                    <div class="card-content">
                        <p>id: {{ image.image_id }}</p>
                        <p>image: {{ image.image }}</p>
                        <p>release id: {{ image.release_id }}</p>
                    </div>
                    {# we store a reference to the images id in the data attribute below #}
                    {# this is used by jquery to pass the correct id to our delete and attach  functions #}
                    <div class="card-action" data-image-id="{{ image.image_id }}">
                        <a href="/admin/delete-image/{{ image.image_id }}" class="del-image">Delete</a>


                        {# dropdown trigger for to get a list of releases #}
                        <a class="dropdown-button" href="#" data-activates="dropdown3">Attach to release</a>
                        {# dropdown content #}
                        <ul id="dropdown3" class="dropdown-content">
                           {% for release in releases %}
                               <li><a href="/admin/attach-image/{{ image.image_id }}/{{ release.id }}" class="attach-image"
                                      data-release-id="{{ release.id }}">{{ release.artist }} {{ release.title }}</a></li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function () {
            $('.del-image').on('click', function (event) {
                event.preventDefault();
                // try to get the image id to pass to the url parameter below
                var imageId = $(event.target).closest('div').data('image-id');
                var block = $(this).parent().parent().parent();
                console.log(imageId);
                console.log(block);
                $.ajax({
                    url: '/admin/delete-image/' + imageId,
                    type: "GET",

                    error: function (response) {
                        Materialize.toast(response, 4000);
                    },
                    success: function (response) {

                        console.log(response);
                        $(block).fadeOut(300);
                        Materialize.toast(response, 4000);
                    }
                });
            });
            $('.attach-image').on('click', function (event) {
                event.preventDefault();
                // try to get the image id and release id to pass to the url parameter below
                var imageId = $(event.target).closest('div').data('image-id');
                var releaseId = $(event.target).closest('a').data('release-id');
                var block = $(this).parent();
                console.log(imageId);
                console.log(releaseId);
                console.log(block);
                $.ajax({
                    url: '/admin/attach-image/'+imageId+'/'+releaseId,
                    type: "POST",

                    error: function (response) {
                        Materialize.toast(response, 4000);
                    },
                    success: function (response) {
                        console.log(response);
                        Materialize.toast(response, 4000);
                    }
                });
            });
        });

    </script>
{% endblock %}
