{% extends 'frontend/base.html.twig' %} 
{% set active_page = 'collection' %}
{% block content %}
<div class="row">
    {% for release in collection %}
    <div class="col s6 m3">
        <div class="card z-depth-3">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/images/front.png">
            </div>
            <div class="card-content">
                <p>{{ release.artist }}</p>
                <p>{{ release.title }}</p>
                
                {# <span class="card-title activator grey-text text-darken-4"><i class="material-icons left-align">more_vert</i></span> #}
            </div>
            <div class="card-reveal">
                
                <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                <p>{{ release.format }}</p>
                <p>{{ release.label }}</p>
            </div>
            <div class="card-action">
                <a href="/release/{{ release.id }}">Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

