{% extends 'frontend/base.html.twig' %}
{% set active_page = 'collection' %}
{% block content %}

    {#<nav class="search-nav z-depth-0">#}
        {#<div class="nav-wrapper white">#}
            {#<form>#}
                {#<div class="col s6 m6 input-field black-text">#}
                    {#<input id="search" class="black-text" type="search" required>#}

                    {#<label class="black-text" for="search"><i class="material-icons black-text">search</i></label>#}
                    {#<i class="material-icons">close</i>#}

                {#</div>#}

            {#</form>#}

        {#</div>#}
    {#</nav>#}
    <!-- <div class="spacer">

    </div> -->




<button class="btn filter-btn">filters</button>

    <div class="row controls">
        <button class="waves-effect waves-light btn-flat control" data-filter="all">All</button>
        <button class="waves-effect waves-light btn-flat control" data-filter=".electronic">Electronic</button>

        <button class="waves-effect waves-light btn-flat control" data-filter=".rock">rock</button>
        <button class="waves-effect waves-light btn-flat control" data-filter=".classic-rock">Classic Rock</button>


    </div>




<div class="row mixContainer">
    {% for release in collection %}
        <div class="mix {{ release.genre }} col m3 s2">




                <div class="card z-depth-3">


                    <div class="card-image waves-block waves-light">
                        <img class="activator" src="/uploads/{{ release.image }}" alt="cover art">
                    </div>



                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">
                            <i class="material-icons right">close</i>
                        </span>
                        <div class="card-content">
                            <p>{{ release.artist }}</p>
                            <p>{{ release.title }}</p>
                            <p>{{ release.format }}</p>
                            <p>{{ release.label }}</p>
                            <p>&euro;{{ release.price }}</p>
                            <div class="divider"></div>
                            <a class="waves-effect waves-light" href="/release/{{ release.id }}">Details</a>


                        </div>

                    </div>
                </div>

        </div>
    {% endfor %}

</div>

{% endblock %}
