


            <h2 class="track_header grey lighten-3 flow-text">CONTACT</h2>
            <div class="col s12 m12">
                <form id="contactForm" class="footer_form container" action="/contact" method="post">

                    {{ form_errors(form) }}
                    <div class="row">

                        <div class="input-field col m6 s12">
                            {{ form_label(form.name, 'name') }}
                            {{ form_widget(form.name) }}
                            {{ form_errors(form.name) }}
                        </div>


                        <div class="input-field col m6 s12">
                            {{ form_label(form.email, 'email') }}
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m12 s12">
                            {{ form_label(form.message, 'message') }}
                            {{ form_widget(form.message, {'attr':{'class':'materialize-textarea'}}) }}
                            {{ form_errors(form.message) }}
                        </div>

                    </div>
                    <button id="contactSubmit" class="btn waves-effect waves-light teal" type="submit" name="action">Submit</button>
                    <input type="reset" class="btn">
                    <div id="preLoader" class="progress">
                        <div class="indeterminate"></div>
                    </div>
                    <div id="message"></div>
                </form>

        </div>
