

        <div class="col s12 m6">
            <h1 class="white-text flow-text">CONTACT</h1>

                <form class="footer_form white-text" action="" method="post">

                    {{ form_errors(form) }}
                    <div class="row">

                        <div class="input-field col m6 s12">
                            {{ form_label(form.name, 'name') }}
                            {{ form_widget(form.name) }}
                            {{ form_errors(form.name) }}
                        </div>


                        <div class="input-field col m6 s12">
                            {{ form_label(form.email, 'email') }}
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m12 s12">
                            {{ form_label(form.message, 'message') }}
                            {{ form_widget(form.message, {'attr':{'class':'materialize-textarea'}}) }}
                            {{ form_errors(form.message) }}
                        </div>

                    </div>
                    <button class="btn waves-effect waves-light teal" type="submit" name="action">Submit</button>
                </form>

        </div>
