{% extends 'frontend/base.html.twig' %}
{% set active_page = 'home' %}

{% block header %}
    <h1>Vinyl Store</h1>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12 m12">
            <div class="header-image">

            </div>
        </div>
        <div class="divider"></div>
        <div class="section">
            <div class="row center-align">
                <div class="col s12 m12">
                    <h1 class="flow-text">Online Vinyl shop for record enthusiasts</h1>
                    <p class="flow-text">Welcome to our site. We stock an eclectic range of records so something for everyone.
                        Our philosophy is simple: If it sounds good, we listen to it! (or something like that)</p>
                    <p>All our vinyl comes from our own private collections and is played regularly.
                        We try and stick to the <a
                                href="http://www.recordcollectorsguild.org/modules.php?op=modload&name=Sections&file=index&req=viewarticle&artid=17&page=1">goldmine
                            standard</a> when grading our records
                        We also guarantee that shipping <em>wont</em> be more expensive than the music, a pet hate of ours!.</p>
                </div>
            </div>
        </div>
    </div>







    <div class="row homepage_sections">

        <div class="col m6 s12">
            {% if latest_releases is defined %}
                {% for latest in latest_releases %}
                    <div class="col m6 s6">
                        <div class="card">
                            <div class="card-image">
                                <img class="activator" src="/uploads/{{ latest.image }}" alt="">
                            </div>
                            <div class="card-reveal">
                                 <span class="card-title white-text">
                                    <i class="material-icons right">close</i>
                                </span>
                                <div class="card-content white-text">
                                    <strong>{{ latest.artist }}</strong> / <em>{{ latest.title }}</em>
                                    <br>
                                    {{ latest.format }}
                                    <br>
                                    &euro;{{ latest.price }}
                                    <div class="divider"></div>
                                    <a class="waves-effect waves-light" href="/release/{{ latest.title|slugify }}/{{ latest.id }}">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            {% endif %}
        </div>
        <div class="col m6 s12">
            <div class="section">
                <h1 class="flow-text">New In</h1>
                <p>Check out our newest vinyl.</p>
            </div>
        </div>
    </div>


    <div class="spacer_large"></div>

    <div class="row homepage_sections">
        <div class="col m6 s12">
            <div class="section">
                <h1 class="flow-text">Random Vinyl</h1>
                <p>Try from a selection of random vinyl</p>
            </div>
        </div>
<div class="col m6 s12">
        {% if random_release is defined %}
            {% for random in random_release %}
                <div class="col m6 s6">
                    <div class="card">

                        <div class="card-image">
                            <img class="activator" src="/uploads/{{ random.image }}" alt="">
                        </div>
                        <div class="card-reveal">
                                <span class="card-title white-text">
                                    <i class="material-icons right">close</i>
                                </span>
                            <div class="card-content white-text">
                                <strong>{{ random.artist }}</strong> / <em>{{ random.title }}</em>
                                <br>
                                {{ random.format }}
                                <br>
                                <div class="divider"></div>
                                <a class="waves-effect waves-light" href="/release/{{ random.title|slugify }}/{{ random.id }}">Details</a>
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}
        {% endif %}

</div>
    </div>
    </div>
{% endblock %}
