{% extends 'frontend/base.html.twig' %}
{% set active_page = 'home' %}

{% block header %}
    <h1>Vinyl Store</h1>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12 m12">

            <div class="header-image">

            </div>


        </div>
        <div class="row center-align">
            <div class="col s12 m12">
                <h1 class="flow-text">Vinylstore for record enthusiasts</h1>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col s12 m3">
            <h2 class="flow-text">Featured vinyls</h2>
            <div class="card-panel">

            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="flow-text">New vinyl</h2>


        {% for latest in latest_releases %}
            <div class="col s6 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="/uploads/{{ latest.image }}" alt="">
                    </div>

                    <div class="card-content">
                        <strong>{{ latest.artist }}</strong>/<em>{{ latest.title }}</em>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <div class="row">
        <div class="col s6 m3">
            <h2 class="flow-text">Random vinyl</h2>
            <div class="card">

                <div class="card-image">
                    <img src="/uploads/{{ random_release.image }}" alt="">
                </div>
                <div class="card-content">

                    <strong>{{ random_release.artist }}</strong>/<em>{{ random_release.title }}</em>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
